.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  border: 1px solid #E0E6E3;
  border-radius: 8px;
  padding: 10px 16px;
  max-width: 300px;
  margin: 10px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  color: black;
  flex: 1;
}

.search-input::placeholder {
  color: #163A34;
}
